/* #1abc9c цвет текста / сайта  */
html,
body {
	font-family: 'Roboto', 'Open Sans', sans-serif;
	background-color: #f8f7f7;
	font-size: 16px;
}

/*================ 
   БЛОК ХЕДЕР 
================*/
.up-btn {
	position: fixed;
	right: 5%;
	bottom: 7%;
	cursor: pointer;
	opacity: 0;
	transform: translateY(100%);
	transition: 0.3s;
}

.up-btn-active {
	opacity: 1;
	transform: translateY(0%);
}

.header {
	width: 100%;
	min-height: 550px;
	background-image: url(images/header-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	padding-bottom: 1rem;
}

.navigation {
	width: 90%;
	margin: 0 auto;
	min-height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.menu {
	display: flex;
}

.menu__item {
	padding: 0 1rem;
}

.menu__item_link {
	text-decoration: none;
	font-size: 1rem;
	color: #fff;
	transition: 0.2s;
}

.menu__item_link:hover {
	color: #1abc9c;
}

.navigation__menu-btn {
	display: none;
}

.header__info {
	width: 90%;
	margin: 0 auto;
	min-height: 200px;
	text-align: center;
	padding: 6.2rem 0 1.9rem 0;
	/* display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; */
}

.header__title {
	font-size: 3rem;
	letter-spacing: 0.4rem;
	text-transform: uppercase;
	font-weight: 700;
}

.header__text {
	font-size: 1.3rem;
	width: 80%;
	margin: 2rem auto 1rem auto;
	line-height: 1.5;
}

.header__next-btn {
	cursor: pointer;
	width: 25px;
	height: 25px;
	margin: 0 auto;
}

/*===================
    БЛОК СЕРВИСЫ 
====================*/

.section-services {
	width: 100%;
	color: #1abc9c;
	padding-bottom: 3rem;
}

.services {
	width: 80%;
	margin: 0 auto;
}

/*=== заголовок во всех секциях ===*/
.title-blok {
	width: 100%;
	height: 100px;
	background-image: url(images/head_down_green.png);
	background-repeat: no-repeat;
	background-position-y: 100%;
	background-position-x: center;
}

.title-blok__heading {
	font-size: 2.1rem;
	font-weight: 700;
	text-transform: uppercase;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #1abc9c;
}

/*=== заголовок во всех секциях  - конец ===*/

.services__our {
	margin-top: 50px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2.5rem 1.4rem;
}

.description-heading {
	display: flex;
	align-items: center;
	padding-left: 0.4rem;
}

.description-heading__name {
	font-size: 1.7rem;
	font-weight: 700;
	margin-left: 1rem;
}

.description-text {
	margin-top: 1rem;
}

.description-text__info {
	line-height: 1.5;
}

section {
	min-height: 500px;
}

/*===================
    БЛОК ПОРТФОЛИО 
====================*/

.section-portfolio {
	color: #1abc9c;
	background-color: #fff;
	padding-bottom: 50px;
}

.portfolio-menu {
	width: 100%;
	margin-top: 3rem;
}

.portfolio-menu__navigation {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.portfolio-menu__item {
	display: inline-block;
	font-size: 1.3rem;
	border: 1px solid #1abc9c;
	padding: 0.4rem 1.4rem;
	margin: 0 0.8rem;
	transition: 0.3s;
	margin-top: 0.8rem;
}

.portfolio-menu__item:hover {
	color: #fff;
	background-color: #5ADDBE;
	cursor: pointer;
}

.portfolio-menu__item_active {
	color: #fff;
	background-color: #1abc9c !important;
}

.portfolio-works {
	width: 100%;
	margin: 1.5rem auto 0 auto;
	transition: 0.5s;
}

.works {
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.works__item {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.works__img_zoom {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	position: absolute;
	top: 0%;
	left: 50%;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	transition: 0.3s;
}

.works__item:hover .works__img_zoom {
	top: 50%;
	opacity: 1;
	cursor: pointer;
}

.modal-window {
	display: none;
}

.modal-window_open {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 199;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-window__img {
	width: 480px;
	height: 300px;
	animation-name: showModal;
	animation-duration: 0.5s;
	position: relative;
}

.modal-window_close {
	color: #fff;
	font-weight: bold;
	font-size: 2rem;
	position: absolute;
	top: -40px;
	right: 0%;
	cursor: pointer;
}

@keyframes showModal {
	from {
		opacity: 0;
		transform: translateY(-50%);
	}

	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

.modal-window__img img {
	width: 100%;
	object-fit: fill;
	border: 2px solid #f1f1f1;
}


.works__item_no-active {
	display: none;
}

.works__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin-bottom: -3px;
}

/*==================
   БЛОК О НАС
==================*/

.section-about {
	width: 100%;
}

.about-container {
	width: 80%;
	margin: 0 auto;
	padding-top: 50px;
}

.about-top {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 25px 0;
}

.top-result {
	text-align: center;
}

.top-result__text {
	color: #1abc9c;
	font-weight: 700;
	font-size: 1.2rem;
	margin-top: 10px;
}

.our-team {
	width: 80%;
	margin: 100px auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: center;
	grid-gap: 20px;
}

.team-unit {
	text-align: center;
	color: #1abc9c;
	background-color: #fff;
}

.team-unit__img {
	max-width: 100%;
}

.team-unit__name {
	font-size: 1.4rem;
	font-weight: 700;
	margin: 15px 0 10px 0;
}

.team-unit__position {
	font-size: 1.2rem;
	font-style: italic;
	text-transform: uppercase;
}

.team-unit__icon {
	line-height: 50px;
	border-top: 1px solid #1abc9c;
	margin-top: 15px;
}

.team-unit__icon i {
	margin-left: 15px;
}

.your-email {
	width: 100%;
	padding: 50px 0px;
	min-height: 150px;
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 58, 121, 1) 0%, rgba(0, 255, 209, 1) 100%);
	text-align: center;
}

.your-email__title {
	font-size: 1.9rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 20px;
	line-height: 1.3;
}

.your-email__input {
	outline: none;
	border: 1px solid #fff;
	background: none;
	/* max-width: 350px; */
	width: 30%;
	color: #fff;
	padding-left: 15px;
	padding: 15px 20px;
}

.your-email__input::placeholder {
	color: #fff;
	text-transform: uppercase;
}

.your-email__submit {
	border: none;
	outline: none;
	padding: 15px 20px;
	text-transform: uppercase;
	margin-left: 10px;
	background-color: #fff;
	transition: 0.4s;
}

.your-email__submit:hover {
	cursor: pointer;
	color: #fff;
	background-color: #000;
}

/*=================
 		БЛОК ПРАЙС 
 ================*/
.section-price {
	width: 100%;
}

.price-container {
	width: 80%;
	margin: 100px auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}

.price-block {
	background-color: #fff;
	text-align: center;
	padding-bottom: 30px;
}

.price-block__dol {
	width: 80px;
	height: 80px;
	background-color: #1abc9c;
	color: #fff;
	border: 3px solid rgba(232, 232, 232, 0.9);
	border-radius: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(-50%);
}

.price-block__title {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 15px;
}

.price-text__item {
	margin: 10px 0;
	font-weight: 700;
}

.price-block__btn {
	display: block;
	width: 60%;
	padding: 10px 0;
	margin: 20px auto;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #1abc9c;
	border-radius: 5px;
	transition: 0.3s;
	border: 1px solid #1abc9c;
	font-weight: 700;
}

.price-block__btn:hover {
	background: none;
	border-radius: 5px;
	color: #000;
	cursor: pointer;
}

.wrap-company {
	width: 100%;
	padding: 50px 0;
	background-color: #fff;
}

.company {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.company__logo img {
	max-width: 80%;
}

/*===============
		 НАШ БЛОГ
===============*/

.section-blog {
	width: 100%;
}

.wrap-blog {
	width: 80%;
	margin: 0 auto;
}

.blog {
	margin-top: 70px;
	display: grid;
	grid-template-columns: repeat(3, 30%);
	grid-gap: 50px 20px;
	justify-content: space-between;
}

.blog-article__img {
	text-align: center;
}
.blog-article__img img {
	 width: 100%;
   height: 100%;
   object-fit: contain;
}

.article-info__title {
	width: 100%;
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
	margin: 10px 0;
}

.article-info__text {
	line-height: 1.5;
}

/*===================
 		БЛОК КОНТАКТЫ 
 ==================*/

.section-contact {
	width: 100%;
	padding-top: 50px; 
}

.g-map{
	width: 100%;
	margin-top: 70px; 
}

.wrap-contact-form{
	width: 100%;
}

.contact-form{
	width: 80%;
	margin: 30px auto;
}

.contact-form__inputs{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.contact-form__inputs input{
	max-width: 45%;
	width: 100%;
	line-height: 40px;
	margin-top: 20px;
	border: 1px solid #1abc9c;
	border-radius: 5px;
	padding-left: 15px;
	box-sizing: border-box;
}

.contact-form__textarea{
	margin-top: 20px;
	width: 100%;
}

.contact-form__textarea textarea{
	width: 100%;
	min-height: 250px;
	resize: none;
	box-sizing: border-box;
	border-color: #1abc9c;
	border-radius: 5px;
	padding: 15px;
}

.contact-form__submit{
	margin-top: 20px;
	width: 100%;
}

.contact-form__submit input{
	width: 100%;
	line-height: 40px;
	background-color: #1abc9c;
	border: none;
	border-radius: 5px;
	color: #fff;
	text-transform: uppercase;
	transition: 0.3s;
}

.contact-form__submit input:hover{
	background-color: #1abcaa;
}

.contact-form__inputs input::placeholder, .contact-form__textarea textarea::placeholder{
	font-style: italic;
}

/*================
		БЛОК ФУТЕР 
================*/
.wrap-footer{
	width: 100%;
}

.social-icons{
	width: 100%;
	background-color: #21836F;
}

.icons{
	width: 80%;
	height: 80px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5rem;
	color: #fff;
}

.iner-footer-info{
	width: 100%;
	background-color: #1abc9c;
	padding: 50px 0;
}

.footer-info{
	width: 80%;
	margin: 0px auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	color: #fff;
}

.footer-title{
	font-size: 1.5rem;
	margin-bottom: 30px;
}

.footer-info__about-cont{
	line-height: 1.5;
	font-size: 0.9rem;
}

.info-useful__item{
	margin-bottom: 15px;
}

.info-useful__link{
	text-decoration: none;
	font-size: 0.9rem;
	color: #fff;
	transition: 0.3s;
}

.info-useful__link:hover{
	color: #000;
	cursor: pointer;
}

.info-contact__item{
	margin-bottom: 15px;
}

.info-contact__item a{
	text-decoration: none;
	font-size: 0.9rem;
	color: #fff;
	margin-left: 10px;
}

.info-fliker{
	max-width: 320px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 5px;
}